**/.DS_Store
**/.vscode
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/__pypackages__
**/node_modules
**/build
**/dist
**/.storybook
**/Dockerfile*
**/.dockerignore
**/.git
**/.gitignore
**/.npmrc
**/.yarnrc
**/*.log
**/.pdm.toml
**/.pdm-python
**/.pdm-build
**/*.egg-info
**/*.egg
**/tests
**/*.txt
