<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<body>
    <a href="{{ url_for('change_password') }}">Изменить пароль</a>
    <a href="{{ url_for('index') }}">Редактировать себя</a>

    {% for user in users %}
        <div id="{{user.username}}">
            <a href="{{ url_for('user', id=user.id) }}">{{ user.username }}<br></a>
             {{ user.family_opinion if user.family_opinion is not None else "" }}<br>
        </div>
    {% endfor %}
</body>
</html>
